@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* ================================
   FLOAT
================================ */

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}


@keyframes floatSmall {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }
}


/* ================================
   CYBER SCAN
================================ */

@keyframes scan {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  15% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  85% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(420px);
    opacity: 0;
  }
}


/* ================================
   BORDER ENERGY
================================ */

@keyframes borderSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* ================================
   GLOW PULSE
================================ */

@keyframes pulseGlow {
  0%,
  100% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.8;
  }
}


/* ================================
   HORIZONTAL FLOW
================================ */

@keyframes flow {
  0% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(180px);
  }
}


/* ================================
   SHIMMER
================================ */

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(400px);
  }
}