@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

@keyframes floatSmall {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes scan {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(120px);
    opacity: 0;
  }
}

@keyframes flow {
  0% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(180px);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(400px);
  }
}